{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- angular stuff -->
        <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-cookie/angular-cookie.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>

        <!-- restangular stuff -->
        <script type="text/javascript" src="{% static 'restangular/dist/restangular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lodash/dist/lodash.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <title>{% block title %}{% endblock %}</title>

        {% block extra_js %}
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

    </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                            data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    QZSD
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">
                    NavBar ...
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div ng-app="quiz" class="container main">
        {% block content %}
        {% endblock %}
    </div>

    </body>
</html>
